<div class="footer-container">
    <img 
        src="assets/images/logo.svg" 
        alt="logo" 
        class="footer-logo"
    />
    <div class="footer-infos">
        <div>
            <div class="footer-CEP">
                <img 
                    src="assets/images/icon-location.svg" 
                    alt="location-icon"
                />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>

            <div class="footer-phone">
                <img 
                    src="assets/images/icon-phone.svg" 
                    alt="phone-icon"
                />
                <p>
                    +55 11 1234-5678
                </p>
            </div>

            <div class="footer-email">
                <img 
                    src="assets/images/icon-email.svg" 
                    alt="email-icon"
                />
                <p>
                    email&#64;email.com
                </p>
            </div>
        </div>

        <div class="footer-about-us">
            <p>About us</p>
            <a href="#">Jobs</a>
            <a href="#">Press</a>
            <a href="#">Blogs</a>
        </div>

        <div class="footer-contact-us">
            <p>Contact us</p>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
        </div>
    </div>
</div>
