<div class="intro-container">
    <img 
        src="assets/images/illustration-intro.png"
        alt="Illustration Intro"
    />

    <div class="text-container">
        <h1>
            All your files in one secure location, accessible anywhere.
        </h1>
        <p>
            Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
        </p>

        <button mat-flat-button>
            Get Started
        </button>
    </div>
</div>
